{% block sw_cms_block_dailymotion_video_preview %}
    <div class="sw-cms-preview-dailymotion-video">
        <img class="sw-cms-preview-dailymotion-video__img"
             :src="'/administration/static/img/cms/preview_vimeo.jpg' | asset" />
        <img class="sw-cms-preview-dailymotion-video__icon"
             :src="'/administration/static/img/cms/vimeo-icon.png' | asset" />
    </div>
{% endblock %}