{% block sw_cms_element_productcategory %}
    <div class="sw-cms-el-productcategory">
        <div class="sw-cms-el-productcategory-iframe-wrapper">
            <iframe frameborder="0"
                    type="text/html"
                    width="100%"
                    height="100%"
                    :src="defProduct">
            </iframe>
        </div>
    </div>
{% endblock %}