{% sw_extends '@Storefront/storefront/component/address/address-form.html.twig' %}
{% block component_address_form_country %}
    {{ parent() }}
        <div class="row">
            <div class = "col-md-12" style="margin-left: 5px; margin-top: 0">
                <form action="controller=Mycontroller" method="post">
                <label for="personalMail">Email*</label>
                <input type="email"
                       class="form-control"
                       name="meraemail"
{#                       autocomplete="section-personal email"#}
                       id="meraemail"
                       placeholder="{{ "account.personalMailPlaceholder"|trans|striptags }}"
                        {% if config('core.loginRegistration.requireEmailConfirmation') %}
                            data-form-validation-m equal="personalMail"
                        {% endif %}
                       required="required">
                </form>
            </div>
        </div>
        <?php echo $_REQUEST["meraemail"]; ?>



{% endblock %}