{% block sw_cms_element_dailymotion_preview %}
    <div class="sw-cms-el-preview-dailymotion">
        <img class="sw-cms-el-preview-dailymotion-img"
             :src="'/administration/static/img/cms/preview_youtube.jpg' | asset">

        <img class="sw-cms-el-preview-dailymotion-icon"
             :src="'/administration/static/img/cms/vimeo-icon.png' | asset">
    </div>
{% endblock %}