{% sw_extends '@Storefront/storefront/page/content/index.html.twig' %}

{% block base_main_inner %}
    <div class="row">
        <div class="col-md-4" style="margin: 20px">
            {% set foo = config('MyAboshop.config.mydatepicker')|split(',') %}
            {% set pickerProperties = {

                locale: app.request.locale,
                enableTime: false,
                mode: 'multiple',
                conjunction: ',',
                minDate : context.context.extensions.testContextExtension['key1'],
                maxDate : context.context.extensions.testContextExtension['key2'],
                disable: foo,
                dateFormat: "Y-m-d"

            } %}
            <label>
                <input type="text"
                       name="foo"
                       class="customDate"
                       value=["2021-09-12T00:12:15+00:00","2021-09-13T00:12:15+00:00"]
                       data-date-picker
                       data-date-picker-options="{{ pickerProperties|json_encode|escape('html_attr') }}"

                />

            </label>

        </div>
    </div>

    {{ parent() }}
{% endblock %}
