{% sw_extends '@Storefront/storefront/page/content/index.html.twig' %}

{% block base_main_inner %}
    <div class="row">
        <div class="col-md-4" style="margin: 20px">



            {% set pickerProperties = {
                locale: app.request.locale,
                enableTime: false,
                selectors: {
                    openButton: ".openDatePicker",
                    closeButton: ".closeDatePicker",
                    clearButton: ".resetDatePicker"
                },
                mode:"multiple",
                minDate : context.context.extensions.testContextExtension['key1'],
                maxDate : context.context.extensions.testContextExtension['key2'],

                disable: [context.context.extensions.testContextExtension['key3'], "2021-07-08", "2021-07-17" ],
                dateFormat: "Y-m-d"

            } %}
            <label>
                <input type="text"
                       name="foo"
                       class="customDate"
                       value="2021-07-13T00:12:15+00:00"
                       data-date-picker
                       data-date-picker-options="{{ pickerProperties|json_encode|escape('html_attr') }}"

                />

                <button class="openDatePicker">Open</button>
                <button class="closeDatePicker">Close</button>
                <button class="resetDatePicker">Reset</button>
            </label>

        </div>
    </div>

    {{ parent() }}
{% endblock %}
