{% block sw_cms_block_dailymotion_video %}
    <div class="sw-cms-block-dailymotion-video">
        <slot name="video">
            {% block sw_cms_block_dailymotion_video_slot %}{% endblock %}
        </slot>
    </div>
{% endblock %}