<div>
    <sw-select-field placeholder="placeholder goes here..." label="label">
        <option value="value1">Label #1</option>
        <option value="value2">Label #2</option>
        <option value="value3">Label #3</option>
        <option value="value4">Label #4</option>
        <option value="value5">Label #5</option>
    </sw-select-field>
</div>