<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Date Picker Configuration</title>
        <input-field type="date">
            <name>mindate</name>
            <label>Minimum Date</label>
        </input-field>
        <input-field type="date">
            <name>maxdate</name>
            <label>Maximum Date</label>
        </input-field>
        <input-field type="date">

            <name>disableddate</name>
            <label>Disabled Date</label>
        </input-field>
        <component name="sw-custom-field-type-date">
            <name>multidatepicker</name>
            <label>Choose a date to disable</label>
        </component>
    </card>
    <card>
        <title>Product Details Page</title>
        <input-field type="single-select">
            <name>fieldtype1</name>
            <label>First Field Type</label>
            <options>
                <option>
                    <id>1</id>
                    <name>text</name>
                </option>
                <option>
                    <id>2</id>
                    <name>date</name>
                </option>
                <option>
                    <id>3</id>
                    <name>checkbox</name>
                </option>
                <option>
                    <id>4</id>
                    <name>dropdown</name>
                </option>
            </options>

        </input-field>

        <input-field type="single-select">
            <name>fieldtype2</name>
            <label>Second Field Type</label>
            <options>
                <option>
                    <id>1</id>
                    <name>text</name>
                </option>
                <option>
                    <id>2</id>
                    <name>date</name>
                </option>
                <option>
                    <id>3</id>
                    <name>checkbox</name>
                </option>
                <option>
                    <id>4</id>
                    <name>dropdown</name>
                </option>
            </options>

        </input-field>

        <input-field type="single-select">
            <name>fieldtype3</name>
            <label>Third Field Type</label>
            <options>
                <option>
                    <id>1</id>
                    <name>text</name>
                </option>
                <option>
                    <id>2</id>
                    <name>date</name>
                </option>
                <option>
                    <id>3</id>
                    <name>checkbox</name>
                </option>
                <option>
                    <id>4</id>
                    <name>dropdown</name>
                </option>
            </options>

        </input-field>
    </card>
</config>