<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Date Picker Configuration</title>
        <component name="my-date-picker">
            <name>mydatepicker</name>
            <label>My Custom multiple date picker</label>
        </component>
        <input-field type="date">
            <name>mindate</name>
            <label>Minimum Date</label>
        </input-field>
        <input-field type="date">
            <name>maxdate</name>
            <label>Maximum Date</label>
        </input-field>
        <input-field type="date">

            <name>disableddate</name>
            <label>Disabled Date</label>
        </input-field>
        <component name="sw-datepicker">
            <name>multidatepicker</name>
            <label>Choose a date to disable</label>
        </component>
    </card>
    <card>
        <title>Product Checkout Page</title>
        <component name="example">
            <name>examplecomponent</name>
            <label>My Example Component</label>
        </component>
        <input-field type="text">
            <name>label1</name>
            <label>Label for first field</label>
        </input-field>
        <input-field type="single-select">
            <name>fieldtype1</name>
            <label>First Field Type</label>
            <options>
                <option>
                    <id>text</id>
                    <name>text</name>
                </option>
                <option>
                    <id>date</id>
                    <name>date</name>
                </option>
                <option>
                    <id>checkbox</id>
                    <name>checkbox</name>
                </option>
                <option>
                    <id>dropdown</id>
                    <name>dropdown</name>
                </option>
            </options>

        </input-field>
        <input-field type="text">
            <name>label2</name>
            <label>Label for second field</label>
        </input-field>
        <input-field type="single-select">
            <name>fieldtype2</name>
            <label>Second Field Type</label>
            <options>
                <option>
                    <id>text</id>
                    <name>text</name>
                </option>
                <option>
                    <id>date</id>
                    <name>date</name>
                </option>
                <option>
                    <id>checkbox</id>
                    <name>checkbox</name>
                </option>
                <option>
                    <id>dropdown</id>
                    <name>dropdown</name>
                </option>
            </options>

        </input-field>

        <input-field type="text">
            <name>label3</name>
            <label>Label for third field</label>
        </input-field>

        <input-field type="single-select">
            <name>fieldtype3</name>
            <label>Third Field Type</label>
            <options>
                <option>
                    <id>text</id>
                    <name>text</name>
                </option>
                <option>
                    <id>date</id>
                    <name>date</name>
                </option>
                <option>
                    <id>checkbox</id>
                    <name>checkbox</name>
                </option>
                <option>
                    <id>dropdown</id>
                    <name>dropdown</name>
                </option>
            </options>

        </input-field>
        <input-field type="textarea">
            <name>textarea</name>
            <label>In case of Dropdown, enter options (one in a row)</label>
        </input-field>
    </card>
</config>