{% block sw_cms_element_productcategory_preview %}
    <div class="sw-cms-el-preview-productcategory">
        <sw-icon name="default-arrow-head-left" size="10"></sw-icon>
        <sw-cms-product-box-preview :hasText="false"></sw-cms-product-box-preview>
        <sw-icon name="default-arrow-head-right" size="10"></sw-icon>
    </div>
{% endblock %}