{% block sw_cms_element_productcategory_preview %}
    <div class="sw-cms-el-preview-productcategory">
        <img class="sw-cms-el-preview-productcategory-img"
             :src="'customcmselement/static/img/1.png' | asset">
    </div>
    <div class="sw-cms-el-preview-productcategory">
        <img class="sw-cms-el-preview-productcategory-img"
             :src="'customcmselement/static/img/205.jpg' | asset">
    </div>
    <div class="sw-cms-el-preview-productcategory">
        <img class="sw-cms-el-preview-productcategory-img"
             :src="'customcmselement/static/img/1.png' | asset">
    </div>
    <div class="sw-cms-el-preview-productcategory">
        <img class="sw-cms-el-preview-productcategory-img"
             :src="'customcmselement/static/img/205.jpg' | asset">
    </div>
{% endblock %}